body {
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
}
div {
    background: url("../image/backgorund.png") center/cover no-repeat ;
    width: 400px;
    height: 200px;
}

li.instagram {
    list-style-image: url(../image/Insta.png);      
}

li.twitter {
    list-style-image: url(../image/Twitter.png);      
}

li.youtube {
    list-style-image: url(../image/Youtube.png);      
}

h1 {
    letter-spacing: -2px;
    font-weight: 100;
}

