
    body {
        background-color: rgb(27, 27, 27);
        margin: 0px;
        color: white;
        text-align: center;
        font: normal 13px arial;
    }
    div#header{
        padding: 10px;
        text-align: left;
        background-color: rgb(32, 32, 32);

    }
    h2 {
        font-size: 50px;
    }
    h1#autor {
        position:absolute;
        left: 70px;
        top: 5px;
        display:inline-block;
    }

    a {
        color:white;
        text-decoration: white;
    }

    img{
        margin-right: 10px;
        width: 400px;
    }

    img#icon {
        width: 50px;
    }
