.nav-link {
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown-menu[data-bs-popper] {
    left: -50px;
}

.dropdown-toggle::after {
    vertical-align: 1px;
    content: url('../images/icon-arrow-down.svg');
    border:none;
}
.dropdown-toggle:focus {
    font-weight: 700;
}

.dropdown-toggle:read-write:after {
    content: url('../images/icon-arrow-up.svg');
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 0px 30px hsla(0, 0%, 41%, 0.384);
}

@media (max-width: 992px) {
    .main-navbar {
        height: 100vh;
    }    
}
<<<<<<< HEAD
=======

.title {
    line-height: 60px;
    font-weight: 700;
}

.img {
    height: 100%;
}

.btn-learn-more {
    color: black;
    border: solid 1px black;
    background-color: white;
}

.container {
    max-width: 1140px;
}
@media (max-width: 1200px) {
    main {
        flex-direction: column-reverse;
        text-align: center;
    }
    .main-content {
        margin: auto;
    }

    .main-img {
        padding: 0px;
        margin: 0px;
    }

    #mainnavbar {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: white;
        height: 100vh;
        z-index: 0;
    }

    form {
        flex-direction: column;
        text-align: center
    }

    .dropdown-menu {
        box-shadow: none;
    }

    .closer {
        display: flex;
        justify-content: end;
        margin: 30px;
        right: 0px;
    }
}
>>>>>>> 76afbbd0d7ba403c0217d62a6fedc8c78c7dc4d0
