@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
}

.btn-link,    
.nav-link {
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown-menu[data-bs-popper] {
    left: -50px;
}

.dropdown-toggle::after {
    height: 12px;
    vertical-align: 0px;
    content: url('../images/icon-arrow-down.svg');
    border:none;    
}
.nav-link:focus {
    font-weight: 700;
}

.dropdown-toggle:read-write:after {
    content: url('../images/icon-arrow-up.svg');
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 0px 30px hsla(0, 0%, 41%, 0.384);
}

.main-content{
    width: 430px;
    height: 430px;
}

.title {
    line-height: 60px;
    font-weight: 700;
}

.img {
    height: 100%;
}

.btn-learn-more {
    color: black;
    border: solid 1px black;
    background-color: white;
}

.container {
    max-width: 1140px;
}
@media (max-width: 1200px) {
    main {
        flex-direction: column-reverse;
        text-align: center;
    }
    .main-content {
        margin: auto;
    }

    .main-img {
        padding: 0px;
        margin: 0px;
    }

    #mainnavbar {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: white;
        height: 100vh;
        z-index: 0;
    }

    form {
        flex-direction: column;
        text-align: center
    }

    .dropdown-menu {
        box-shadow: none;
    }

    .closer {
        display: flex;
        justify-content: end;
        margin: 30px;
        right: 0px;
    }
}