* {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    margin: auto;
    height: 100vh;
}

.curtain {
    display: none;
}

.responsive_menu {
    background-color: white;
    border: 0px;
    cursor: pointer;
    z-index: 5;
    display: none;
}

#close {
    display: none;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border-bottom: solid 1px gray;
    width: 100%;

}


.left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.right {
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: space-between;
}

.button_avatar,
.button_cart {

    position: relative;
    background-color: white;
    border: none;
    cursor: pointer;
}

.button_avatar {
    width: 80px;
}

.button_cart {
    position: relative;
    height: 30px;
}

.count_cart {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border-radius: 40%;
    font-weight: 700;
    font-size: 10px;
    width: 18px;
    height: 13px;
}

.logo {
    padding-right: 40px;
}

.avatar {
    border-radius: 100%;
    padding: 2px;
    width: 50px;
}

.avatar:active {
    border: solid 3px hsl(26, 100%, 55%);
}


.list {
    display: flex;
    height: 100%;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list>li {
    display: inline;
}

.list>a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: gray;
    font-weight: 600;
}

.list>a:hover {
    border-bottom: solid 6px hsl(26, 100%, 55%);
    transition: 0.2s;
}

.menu {
    display: none;
}

.cart_popup {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 90px;
    right: 270px;
    width: 340px;
    height: 230px;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.171);
    z-index: 3;
}

.title_popup {
    display: flex;
    margin: 0px;
    padding: 10px;
    padding-left: 20px;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    height: 50px;
    border-bottom: solid 1px rgb(213, 213, 213);
}

.content_popup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 100%;
    font-weight: 700;
    color: rgb(110, 110, 110);
    font-size: 14px;
}

.product_popup {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product_popup>img {
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

.text_product>h1,
.text_product>p {
    font-weight: 500;
    margin: 0px;
    font-size: 14px;
}

.checkout_button {
    background-color: hsl(26, 100%, 55%);
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 10px 15px rgba(255, 68, 0, 0.185);
    width: 80%;
    height: 40px;

    cursor: pointer;
}

.checkout_button:hover {
    background-color: rgb(255, 138, 95);

}

.checkout_button:active {
    transform: translateY(5px);
    background-color: rgb(255, 138, 95);
    box-shadow: 1px 5px 15px rgba(255, 68, 0, 0.185);
}

main {
    position: relative;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 90%;

}

.images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 350px;
    height: 450px;
}

.div_image {
    opacity: 1;
    position: relative;
    z-index: 2;
}


.button_left {
    display: none;

    border-radius: 100%;
    background-color: white;
    width: 60px;
    height: 60px;
    padding: 0px;
    border: 0px;
    position: absolute;
    left: 10px;
    top: 50%;

    transform: translate(0%, -50%);
    cursor: pointer;
}

.button_right {
    display: none;
    border-radius: 100%;
    background-color: white;
    width: 60px;
    height: 60px;
    padding: 0px;
    border: 0px;
    position: absolute;
    right: 10px;
    top: 50%;

    transform: translate(0%, -50%);
    cursor: pointer;

}


.main_image {
    border-radius: 10px;
    width: 100%;

}

.thumbnails {
    display: flex;
    justify-content: space-between;
}

.thumbnails>button {

    border-radius: 10px;
}

.thumbnail {
    border: none;
    background-color: white;
    padding: 0px;
    z-index: 1;
    cursor: pointer;
}

.thumbnail>img {
    position: relative;
    border-radius: 10px;
    width: 70px;

}

.on {
    display: inline;
    border: solid 2px hsl(26, 100%, 55%);
    border-radius: 10px;
    padding: 1px;
    opacity: 0.4;
}


.title_header {
    color: hsl(26, 100%, 55%);
    margin-top: 30px;
    margin-bottom: 10px;

}

.main_div {
    color: gray;
    font-size: 16px;
}

.main_title {
    margin-top: 20px;
    margin-bottom: 30px;
}


.content {
    width: 400px;
    margin-left: 20px;
}

.values {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
}

.main_value {
    display: inline-block;
    font-weight: 800;
    font-size: 26px;
}

.discount {
    display: inline-block;
    background-color: rgb(252, 234, 228);
    color: hsl(26, 100%, 55%);
    padding-left: 7px;
    padding-right: 7px;
    font-weight: 700;
    border-radius: 3px;
}

.old_value {
    color: gray;
    text-decoration: line-through;
}

.inputs {
    display: flex;
    font-weight: 900;
    height: 60px;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 60px;

}

.label_amount {
    display: flex;
    justify-content: stretch;
}

#amount {
    font-weight: bold;
    border: none;
    border-radius: 0px;
    width: 50px;
    background-color: rgb(241, 241, 241);
    text-align: center;
}

#amount:focus {
    outline: 0px;
}


#max_b,
#min_b {
    background-color: rgb(241, 241, 241);
    padding: 15px;
    border: none;
    z-index: 0;
    cursor: pointer;
}

#max_b {
    border-radius: 0px 10px 10px 0px;
}

#min_b {
    border-radius: 10px 0px 0px 10px;

}

#max_b:active,
#min_b:active {
    background-color: rgb(246, 246, 246);
    opacity: 0.6;

}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.icon_cart {
    width: 17px;
}

#button_add {
    background-color: hsl(26, 100%, 55%);
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 10px 15px rgba(255, 68, 0, 0.185);
    width: 250px;
    cursor: pointer;
}

#button_add:hover {
    background-color: rgb(255, 138, 95);
}

#button_add:active {
    transform: translateY(5px);
    background-color: rgb(255, 138, 95);
    box-shadow: 1px 5px 15px rgba(255, 68, 0, 0.185);

}

.attribution {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }

    .nav {
        width: 100vw;
    }
    
    .close {
        display: block;

    }

    .list {
        display: block;
        position: absolute;
        top: 0vh;
        left: 0vh;
        width: 50vw;
        padding: 30px;
        padding-top: 100px;
        height: 100vh;
        background-color: white;
        z-index: 4;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;

    }
    .menu {
        display: block;
        z-index: 5;
    }
    .active_menu {
        transform: translateX(0%);
    }

    .list>a {
        font-weight: bold;
        color: black;
        padding: 15px;
        width: 100px;
        height: auto;
    }


    .list>a:hover {
        border-left: solid 6px hsl(26, 100%, 55%);
        border-bottom: none;
        transition: 0.2s;
    }
    

    .appear {
        display: flex;
        z-index: 1;
    }

    .responsive_menu {
        background-color: white;
        display: block;
        border: 0px;
        cursor: pointer;
        z-index: 5;
    }

    .curtain {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 100vw;
        height: 100vh;
        z-index: 3;
        transition: 1s;
        opacity: 0.8;
    }

    main {
        display: flex;
        width: 70vw;
        flex-direction: column;
        height: auto;
    }

    .images {
        width: auto;
        height: 100%;
    }

    .thumbnails {
        display: none;
    }

    .main_image {
        border-radius: 0px;
        width: auto;
        height: 500px;
        z-index: -1;
    }

    .button_left,
    .button_right {
        display: block;
    }

    .content {
        width: 100%;
    }

    .inputs {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 110px;
    }

    .label_amount {
        width: 100%;
    }

    #amount {
        width: 100%;
    }

    #button_add {
        justify-content: stretch;
        width: 100%;
        height: 50px;
    }


    .cart_popup {
        position: absolute;
        right: 20px;
        background: white;
        box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.171);
    }

    .attribution {
        display: none
    }

}