* {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    margin: auto;
    height: 100vh;
}

.curtain {
    display: none;
}
.responsive_menu {  
    display: none;
    
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border-bottom: solid 1px gray;
    width: 100%;
    
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.right {
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: space-between;
}

.button_avatar , .button_cart {
    background-color: white;
    border: none;
    cursor: pointer;
}

.button_cart {
    position: relative;
    height: 30px;
}

.count_cart {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: orangered;
    color: white;
    border-radius: 40%;
    font-weight: 900;
    font-size: 10px;
    width: 18px;
    height: 13px;
}

.logo {
    padding-right: 40px;
}

.avatar {
    width: 50px;
}

.list {
    display: flex;
    height: 100%;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list > li {
    display: inline;
}

.list > a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: gray;
    font-weight: 600;
}

.list > a:hover {
    border-bottom: solid 6px orangered;
    transition: 0.2s;
}

.list_copia {
    display: none;
}

.cart_popup {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 90px;
    right: 130px;
    width: 340px;
    height: 230px;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.171);
}

.title_popup {
    display: flex;
    margin: 0px;
    padding: 10px;
    padding-left: 20px;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    height: 50px;
    border-bottom: solid 1px rgb(213, 213, 213);
}

.content_popup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 100%;
    font-weight: 700;
    color: rgb(110, 110, 110);
    font-size: 14px;
}

.product_popup {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product_popup > img {
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

.text_product > h1, .text_product > p{
    font-weight: 500;
    margin: 0px;
    font-size: 14px;
}

.checkout_button {
    background-color: orangered;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 10px 15px rgba(255, 68, 0, 0.185);
    width: 80%;
    height: 40px;

    cursor: pointer;   
}

main {
    position: relative;
    display:flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 500px;

}
.images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 350px;
    height: 450px;
}
.main_image {
    border-radius: 10px;
    width: 100%;

}

.thumbnails {
    display: flex;
    justify-content: space-between;
}
.thumbnails > button {

    border-radius: 10px;
}
.thumbnail {
    border: none;
    background-color: white;
    padding: 0px;
    z-index: 1;
    cursor: pointer;
}

.thumbnail > img {
    position: relative;
    border-radius: 10px;
    width: 70px;

}

.on {
    display: inline;
    position: absolute;
    border: solid 2px orangered;
    border-radius: 10px;
    padding: 1px;
}


.title_header {
    color: orangered;
    margin-top: 30px;
    margin-bottom: 10px;

}
.main_div {
    color: gray;
    font-size: 16px;
}

.main_title {
    margin-top: 20px;
    margin-bottom: 30px;
}


.content {
    width: 400px;
    margin-left: 20px;
}

.values {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
}

.main_value {
    display: inline-block;
    font-weight: 800;
    font-size: 26px;
}

.discount {
    display: inline-block;
    background-color: rgb(252, 234, 228);
    color: orangered;
    padding-left: 7px;
    padding-right: 7px;
    font-weight:700;
    border-radius: 3px;
}

.old_value {
    color: gray;
    text-decoration: line-through;
}

.inputs {
    display: flex;
    font-weight: 900;
    height: 50px;
    justify-content: space-between;
    margin-top: 30px;

}

.label_amount {
    display: flex;
    justify-content: stretch;
}

#amount {
    font-weight: bold;
    border: none;
    border-radius: 0px;
    width:  50px;
    background-color: rgb(241, 241, 241);
    text-align: center;
}

#amount:focus {
    outline: 0px;
}


#max_b, #min_b {
    background-color: rgb(241, 241, 241);
    padding: 15px;
    border: none;
    z-index: 0;
    cursor: pointer;
}

#max_b {
    border-radius: 0px 10px 10px 0px;
}

#min_b {
    border-radius: 10px 0px 0px 10px;

}

#max_b:active, #min_b:active {
    background-color: rgb(246, 246, 246);
    opacity: 0.6;

}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.icon_cart {
    width: 17px;
}

#button_add {
    background-color: orangered;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 10px 15px rgba(255, 68, 0, 0.185);
    width: 250px;
    cursor: pointer;
}

#button_add:active {
    background-color: rgb(255, 138, 95);
}

.attribution {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50% , -50%);
}

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
        height: 1100px;
    }

    .nav {
        width: 100vw;
    }

    .list {
        display: none;
    }
    .list_copia{
        position: absolute;
        margin: 0px;
        padding: 0px;
        list-style: none;
        top: 100px;
        left: 50px;
        font-weight: bold;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 200px;
        height: 180px;
        z-index: 1;
    }

    .list_copia > a > li {
        color: black;

    }

    .list_copia > a {
        display: flex;
        text-decoration: none;
        padding-left: 10px;
        width: 100%;
        height:100%;
        align-items: center;
        justify-content: flex-start;
    }

    .list_copia > a:hover {
        border-bottom: none;
        border-left: solid 6px orangered;
        transition: 0.2s;
    }
    
    .appear {
        display: flex;
        z-index: 1;
    }

    .close {
        display: block;
    }

    .responsive_menu {
        background-color: white;
        display: block;
        border: 0px;
        cursor: pointer;
        z-index: 2;
    }

    .menu {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: white;
        z-index: 1;
    }

    .active_menu {
        display: block;
    }

    .curtain {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        opacity: 0.8;
    }

    main {
        display: flex;
        width: 70vw;
        flex-direction: column;
        height: auto;
    }

    .images {
        width: auto;
        height: 100%;
    }

    .thumbnails {
        display: none;
    }

    .main_image {
        border-radius: 0px;
        width:auto;
        height: 500px;
        z-index: -1;
    }

    .content {
        width: 100%;
    }

    .inputs {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 110px;
    }
    
    .label_amount {
        width: 100%;
    }
    #amount {
        width: 100%;
    }

    #button_add {
        justify-content: stretch;
        width: 100%;
        height: 50px;
    }


    .cart_popup {
        position: absolute;
        right: 20px;
        background: white;
        box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.171);
    }
        
    .attribution {
        display : none
    }
}