@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 10px;
  font-family: Outfit;
  color: hsl(215, 51%, 70%);
}

body {
  background-color: hsl(217, 54%, 11%);
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    max-width: 300px;
    min-width: 300px;
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);
}

h1 {
    font-size: 24px;
    color: white;
}

.viewIMG {
    background-image: url('/Projetos/Frontend_Mentor/NFT/images/icon-view.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 27%;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 0;
}

.mainIMG {
    background-color: aqua;
    padding: 0px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    opacity: 0;
}

.BGmain {  
    background-image: url("/Projetos/Frontend_Mentor/NFT/images/image-equilibrium.jpg");
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin: auto;
}

/* Ativar hover ao mesmo tempo */

.BGmain:hover > .mainIMG {
    opacity: 0.5;
}

.BGmain:hover > .viewIMG {
    opacity: 1;
}

.avatar {
  border: 1px solid white;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
  display: inline;
  width: 40px;
}

.ico {
  margin-right: 7px;
  width: 11px;
  padding: 0px;
  display: inline-block;
}

.left {
  display: inline-block;
  color: white;
  font-weight: 600;
}

.right {
  display: inline;
  float: right;
}

hr {
  padding: 0px;
  border: 1px solid hsl(215, 32%, 27%);
}

a {
  color: white;
  text-decoration: none;
  padding: 0px;
}

a:hover {
  color: hsl(178, 100%, 50%);
}

.attribution {
  text-align: center;
  margin: auto;
  position: absolute;
  left: -50%;
  right: -50%;
  bottom: 0;
}

div.containerFooter {
  /* DEIXAR O TEXTO NO MEIO VERTICALMENTE */
  display: flex;
  justify-content: flex-start;
}
