@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: Outfit;
}

body{
    background-color: hsl(217, 54%, 11%);
}

h1 {
    color: hsl(178, 100%, 50%);
}

p{
    color: hsl(215, 51%, 70%);
}